<div style="font-family: Arial, sans-serif; font-size:14px;color:#333;">
	Someone (hopefully you) sent request for the new password to access Therapy.<br><br>

	If this is the case, please use (type in, or copy) following temporary password to login:<br><br>

	TEMPORARY PASSWORD: <%= password %> <br><br>

	You have 20 minutes to log in with this password, or you need to make new password recovery request<br><br>

	After accessing Therapy with your temporary password, please set the new password your are going to use immediately.<br><br>

	Sincerely,<br>
	Team Therapy
</div>
